

$primary-color: #000000; 
$dark-bg: #343a40; 
$light-text: #f8f9fa; 
$danger-color: #dc3545;
$link-color: $primary-color; 
$base-font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  
 @media (max-width: 576px) { 
 flex-direction: column;
  }
}


  .cart-card img {
    width: 100%;
    max-height: 250px;
    max-width: 350px;
    object-fit: contain;
  }

    .checkout {
        position: fixed;
        bottom: 0px;
        right: 0;
        width: 200px; 
        background-color: rgba(0, 0, 0, 0.927);
        padding: 10px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 


        @media (max-width: 526px) { 
            position: relative;
            width: 110%;
          }
        }
      

        .checkout button {
            width: 80%;
            background-color: white;
            color: black;
        }

        .checkout button:hover {
            background-color: black;
            color: white;
        }
  
        .cart-card-container {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
          gap: 20px;
          width: 100%;
          max-width: 100%;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          padding: 10px;
          transition: transform 0.6s;
          transform-style: preserve-3d;
          cursor: pointer; 
          position: relative;
          margin: 0 auto;
        }

        .card-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          padding: 10px;
          transition: transform 0.6s;
          transform-style: preserve-3d;
          cursor: pointer; 
        }

// card flipping
        .card-flipping {
          transform: rotateY(180deg);
        }

        .card-flipping .card-face-front {
          transform: rotateY(0deg);
        }

// CARD FACES
        .card-face {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          -webkit-backface-visibility: hidden; 
          backface-visibility: hidden;
          border-radius: 10px;
          display: flex;
          height: 100vw;
          width: 60vw;
          max-height: 364px;
          max-width: 260px;
          background-color: #0202026e;
          border-radius: 10px;
          box-shadow: -1rem 0 3rem #000;

          border: 1px solid #ffffff;
          
        }
// card faces front
        .card-face.card-face-front {
          transform: rotateY(0deg);
          transition: 0.6s ease-out;
          border: 2px solid #ffffff;
          position: relative;
          transition: 0.4s ease-out;
          cursor: pointer;
}

        .card-face.card-face-front img {
          max-width: 100%; 
          height: auto; 
          object-fit: contain;
        }
        
    

      .card-face.card-face-front:hover {
        transition: 0.6s ease-out;
        border: 2px solid #ffffff;
        // margin-right: 0.22vw;
      }

      .card-face.card-face-front:hover ~ .card-face.card-face-front {
        position: relative;
        transition: 0.4s ease-out;
      }

// card faces back
        .card-face-back {
          transform: rotateY(180deg);
  
        }


        .card-face-back img {
          max-width: 100%; 
          height: auto; 
          object-fit: contain;
          opacity: 50%;
        }

        .card-face-back:hover {
          transition: 0.6s ease-out;
          border: 2px solid #ffffff;
        }

// price and title
        .title-card {
          display: flex ;
          color: white;
          font-weight: 300;
          position: absolute;
          top: 0px;
          font-size: 1.1rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }

        .price-cart-card {
          color: white;
          font-weight: 100;
          position: absolute;
          top: 40px;
          font-size: 1.0rem;
          font-style: italic;
        
          @media (max-width: 768px) {
            top: 30px; 
          }
        }
        
        .cart-card-buttons {
          position: absolute;
          bottom: 0px;
          display: flex;
          justify-content: space-between;
          padding: 10px;
          width: 100%;
          transition: 0.6s ease-out;
          transform-style: preserve-3d;
          cursor: pointer;
        }

        .cart-card-buttons a, .cart-card-buttons button {
          font-family: $base-font-family;
          padding: 10px;
          width: 100%;
          font-size: 1.1rem;
          @media screen and (max-width: 768px) {
            font-size: 1.0rem;
            
          }

        }



