

$primary-color: #000000; 
$dark-bg: #343a40; 
$light-text: #f8f9fa; 
$danger-color: #dc3545;
$link-color: $primary-color; 
$base-font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;

.cart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: $dark-bg;
  color: $light-text;
  padding: 20px;


  h2 {
    grid-column: 1 / -1; 
    color: $light-text;
  }

  hr {
    border-color: $light-text;
  }
}


.cart-card {
  background-color: darken($dark-bg, 5%);
  border: 4px solid black ;
  border-radius: 5px;

  color: $light-text;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50%;

  @media screen and (max-width: 768px)
  {
    width: 100%;
    max-width: 100%;
  }



  @media screen and (max-width: 576px)
  {
    
    width: 100%;

  }


  .cart-card-body {
    background-color: $dark-bg;
    font-family: $base-font-family;
  }

  .cart-card-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    a, button {
      font-family: $base-font-family;
      padding: 10px;
      width: 100%;
    }

    .btn-dark {
      background-color: $primary-color;
      border-color: $primary-color;

      &:hover {
        background-color: white;
        color: $primary-color;
      }
    }

    button {
      background-color: $primary-color;
      border-color: $danger-color;
      color: $light-text;

      &:hover {
        background-color: darken($danger-color, 10%);
      }
    }
  }
}

.cart-title {
  color: $light-text;
  font-family: $base-font-family;
  font-size: 1.1rem;
}

.font-size {
  font-size: 1.25rem;
}

@media screen and (max-width: 558px)
{
  .cart-title {
    font-size: 1rem;
  }

  .font-size {
    font-size: 1rem;
  }


  
}


 .cart-container {
display: flex;
justify-content: space-between;
  
@media (max-width: 576px) { 
flex-direction: column;
}
}
  
  

  .cart-card img {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
  }



    .checkout {
        position: fixed;
        bottom: 0px;
        right: 0;
        width: 200px; 
        background-color: rgb(0, 0, 0); 
        padding: 10px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 


        @media (max-width: 526px) { 
            position: relative;
            width: 100%;
          }
        }
      

        .checkout button {
            width: 100%;
            background-color: white;
            color: black;
        }

        .checkout button:hover {
            background-color: black;
            color: white;
        }


