
$primary-color: #e2e2e2; 
$nav-height: 50px; 



.navbar {
  background-color: $primary-color;
  height: $nav-height;
  display: flex;
  // justify-content: space-between;
  align-items: right;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1020;
  flex-wrap: wrap;


  .secondary-navbar {
    display: relative;
    background-color: #0f0f0fec;
    justify-content: center;
    animation: slideDown 0.5s ease-out forwards;
    position: absolute; 
    width: 100%; 
    top: 100%; 
    left: 0;
    z-index: 1010;

    @keyframes slideDown {
      from {
        transform: translateY(-100%);
      }
      to {
        transform: translateY(0);
      }
    }
  }


  .secondary-navbar.open {
    left: 0; 
  }

  .secondary-navbar .nav-item.active {
    background-color: #e2e2e2;
    color: rgb(0, 0, 0); 
    text-transform: lowercase;
    border: 1px solid black; 
  }

  .secondary-navbar .nav-item:after {
    content: '';
    position: absolute;
    bottom: -15px; 
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    border-bottom: 2px solid #e2e2e2; 
    transition: width 0.3s ease; 
  }

}












  .user {
    color: white;
  }

  @media (max-width: 800px) {
    .secondary-navbar {
      display: none;
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }


  .nav-item .link {
    display: inline-block;
    // height: 100%;
    background-color: #0f0f0fec; 
    color: white; 
    text-align: center;
    padding: 1px 15px; 
    margin: 0 1px; 
    text-decoration: none;
    border: none; 
    border-radius: 0;
    box-sizing: border-box;

    &:hover {
      background-color:  #e2e2e2;
      color: rgb(0, 0, 0); 
      text-transform: lowercase;
      border: 1px solid black; 
    }

    &.active {
      background-color: #e2e2e2;
      color: rgb(0, 0, 0); 
      text-transform: lowercase;
      border: 1px solid black; 
    }


    &:after {
      content: '';
      position: absolute;
      bottom: -15px; 
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      border-bottom: 2px solid #e2e2e2; 
      transition: width 0.3s ease; 
    }

    &:hover:after {
      width: 90%;
    }


    li {
      margin: 0 15px;

      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media screen and (max-width: 568px) {
    .welcome {
      display: none;
    }
    .nav-item {
     display: none;
    }
  .secondary-navbar {
    display: none;
  }
  }


  @media (max-width: 768px) { 
    .secondary-navbar {
      display: none;
    }

    .navbar {
      display: flex;
      align-items: center;
    }
   
  .nav-item .link {
    display: inline-block;
    height: 80%;
    background-color: #0f0f0fec; 
    color: white; 
    text-align: center;
    padding: 5px 10px; 
    margin: 0 1px; 
    text-decoration: none;
    border: none; 
    border-radius: 0;
    box-sizing: border-box;

 
  
  }

  
    
  }
  



  .hamburger {
    display: none; 
  }
  
  .sidebar {
    position: fixed;
    left: -100%; 
    display: flex;
    flex-direction: column;
    transition: left 0.3s;
    background-color: #0f0f0fb1;
    width: 250px;
    padding-top: 20px;
    top: 52px;
    z-index: 100;


  }

  .sidebar:hover,
.sidebar.open {
  left: 0; 
}

  .sidebar .nav-item {
    display: block;
    padding: 20px 0;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      background-color: #e2e2e2;
      color: rgb(0, 0, 0); 
      text-transform: lowercase;
      border: 1px solid black; 
    }
  }

  .sidebar .nav-item.active {
    background-color: #e2e2e2;
    color: rgb(0, 0, 0); 
    text-transform: lowercase;
    border: 1px solid black; 
  }


  .sidebar .nav-item:hover:after {
    width: 90%;
  }
  
  .sidebar.open {
    left: 0; 
  }

  @media screen and (min-width: 801px) {
    .sidebar {
      display: none; 
    }
    
  }
  
  @media (max-width: 801px) { 
    .hamburger {
      display: block; 
      border:  black;
      background-color: #0f0f0fb1;
      color: white;
      padding: 5px 15px;
      border-radius: 5px;
      cursor: pointer;
    }
    .hamburger:hover {
      background-color: #e2e2e2;
      color: rgb(0, 0, 0); 
      text-transform: lowercase;
      border: 1px solid black; 
    }
    .hamburger:after {
      content: '☰';
    }
    .hamburger.open:after {
      content: '✖';
    }
    .hamburger.open {
      background-color: #e2e2e2;
      color: rgb(0, 0, 0); 
      text-transform: lowercase;
      border: 1px solid black; 
    }

  

    .navbar .nav-item {
      display: none;
    }
  }

  
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  

  .secondary-sidebar {
    position: fixed;
    display: block;
    left: -100%; 
    transition: left 0.3s;
    background-color: #0f0f0fb1;
    width: 100;
    height: auto;
    z-index: 600;
    animation: slideDown 0.5s ease-out forwards;
    position: absolute; 
    width: 100%;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;

    @keyframes slideDown {
      from {
        transform: translateY(-100%);
        opacity: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
      }
      to {
        transform: translateY(0);
      }
    }
  }

  .secondary-sidebar.open {
    left: 0; 
  }

  .sidebar .link {
    display: block;
    padding: 20px 0;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      background-color: #e2e2e2;
      color: rgb(0, 0, 0); 
      text-transform: lowercase;
      border: 1px solid black; 
    }
  }

  .secondary-sidebar .link{
    display: block;
    padding: 20px 0;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      background-color: #e2e2e2;
      color: rgb(0, 0, 0); 
      text-transform: lowercase;
      border: 1px solid black; 
    }
  }

  .secondary-sidebar .side-item{
    display: block;
    padding: 20px 0;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      background-color: #e2e2e2;
      color: rgb(0, 0, 0); 
      text-transform: lowercase;
      border: 1px solid black; 
    }
  }
  
  .secondary-navbar {
    display: block; 
  }

  .nav-item {
    display: block; 
  }
  
  .side-item {
    display: none; 
  }
  
  @media (max-width: 800px) {
    .nav-item {
      display: none; 
    }
    .secondary-navbar {
      display: none; 
    }
  
    .side-item {
      display: block; 
    }
  }

  .sidebar .link, .secondary-sidebar .link{
    display: inline-block;
    background-color: #0f0f0fb1; 
    color: white; 
    text-align: center;
    margin: 0 1px; 
    text-decoration: none;
    border: none; 
    border-radius: 0;
    box-sizing: border-box;

    &:hover {
      background-color:  #e2e2e2;
      color: rgb(0, 0, 0); 
      text-transform: uppercase;
      border: 1px solid black; 
    }
    &.active {
      background-color: #e2e2e2;
      color: rgb(0, 0, 0); 
      text-transform: lowercase;
      border: 1px solid black; 
    }

  }



  .sidebar .link:hover:after {
    width: 90%;
  }

  .open {
    left: 0; 
  }


  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100; 
  }