.card-link {
    text-decoration: none;
    color: inherit;
  }




  .image-container {
    position: relative;
    width: 100%;
    height: 200px;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;

  

  }


  .size-label {
    position: absolute;
    top: 20%; 
    right: 2%; 
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 2px; 
    border-radius: 5px; 
  }

  .tv-card {
    width: 33%;
    margin: 1rem;
    background-color: white;
    color: black;
    font-family: 'Lucida Sans ,Lucida Sans Regular';
    
  
    .card-header,
    .card-footer {
      color: white;
      background-color: black;
      font-family: 'Lucida Sans ,Lucida Sans Regular';
    }
 
    .card-body {
      padding: 0;
      margin: 0;
    }
  
    .card-text {
      font-size: 1.25rem; 
    }
  }

 
    @media (max-width: 768px) {
        .tv-card {
            width: 92%;
        }
    }


  

.slick-dots {
  bottom: -20px;
}






@media (max-width: 767px) {
  .slick-dots {
    bottom: -20px;
  }



}


@media (max-width: 576px) {
  .dropdown-menu {
    width: 100%;
    text-align: center;
  }
}


.tvCards {
  width: 50%;
  align-self: center;

  @media (max-width: 768px) {
    width: 100%;
  }
}



// FORMS

