
@import url('https://fonts.googleapis.com/css2?family=Lucida+Sans&display=swap');
@import './components/shared/_Header.scss';
@import './components/tvs/TvShow.scss';




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-body {
  padding: 20px;
  background-color: rgba(0,0,0,0.85);
  min-height: calc(100vh - 50px); 
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  overflow: hidden;
}

@media screen  and (max-width: 768px) {
  .App-body {
    padding: 0;
  }
  }
  


  html, body {
    background-color: rgba(0,0,0,0.85);
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }


.root {
  display: flex;
  flex-direction: column;
}









.card-img {
  height: 200px;
  object-fit: contain;
}

@media (min-width: 576px) {
  .card-img {
    height: 300px;
  }
}



.checkout-button {
  background-color: #40E0D0;
  color: white;
  font-family: 'Lucida Sans ,Lucida Sans Regular';
}

.checkout-button:hover {
  background-color: #cefcfa; 
}

.device-image {
  height: 250px;
  width: 300px;
  object-fit: contain;
}


.product-card {
  width: 18rem;
  height: 18rem;
  margin: 2rem;
  overflow: hidden;
}



.product-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  transform: scale(1.05);
  transition: all 0.4s ease;
}

.product-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #40E0D0;
}



// FORMS

form {
 
  margin: 10px auto;

  background: #e8e8e8; 
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  font-size: 23px;
  font-family: 'Lucida Sans ,Lucida Sans Regular';
  color: black;
  border: 1px solid black;
}
@media screen and (max-width: 968px) {
  form {
    padding: 0;
    font-size: 16px;
  }
  }

form label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.5rem;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-family: 'Lucida Sans ,Lucida Sans Regular';
}





.laptop-container {
  margin: 4px;
}


.laptopCard {
  width: 18rem;
  height: 15rem;
  overflow: hidden;
}


.card:hover {
  border: 1px solid #ffffff; 
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  transition: border-color 0.3s ease;
}